body {
  background-color: #ffecc7;
  width: 100%;
  font-size: large;
  font-family: serif;
}

hr {
  border-style: none;
  border-top-style: dotted;
  height: 0px;
  width: 100%;
  border-color: #85a392;
  border-width: 3px;
}
